html { 
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.4;
    color: #555;
}

a {
    color: #000000;
    text-decoration:  none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.container {
    height: 50px;
}

.page-header {
background: #000000;
color:  #ddd;
}

.main-menu .container{
    display: flex;
    justify-content: space-between;
}

 .A ul {
    list-style: none;
    display: flex;
    
}
.A li {
    padding: 0 10px; 
}


 .B {
     font-size: 3em;
     padding-right: 55px;
     display: flex;
}

.C ul {
    display: flex;
    list-style: none;
}

.C li {
    padding: 0 10px;
}

.C  li span {
    padding: 0 30px;
}


