@import url(c:\Web front end\homework\stylesheets\normalizes.css);
html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.4;
  color: #555;
}

a {
  color: #009ced;
  text-decoration: none;
}

a:hover {
  color: #0081c3;
  text-decoration: underline;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.top-line {
  background: #000000;
  height: 40px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.top-line {
  font-size: 14px;
  font-family: DFKai-sb;
  line-height: 3;
  color: #ffffff;
}

.page-header {
  background: #000000;
  color: #ddd;
}

.main-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.one ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one li {
  padding: 0 10px;
}

.two {
  font-size: 20px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.three ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.three li {
  padding: 0 10px;
}

.three li span {
  padding: 0 30px;
}

.index1 {
  height: 500px;
  background: url(../stylesheets/index1.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.index1 h2 {
  font-size: 60px;
  color: #fdfdfd;
  position: absolute;
}

.hot {
  font-size: 40px;
  color: #080808;
  text-align: center;
  margin: 0 0 30px;
}

.item-content img {
  margin: 0 30px;
}

.item-content ul {
  font-size: 15px;
  color: #080808;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
}

.message {
  background: #8f8e8e;
  line-height: 2;
}

.message h4 {
  font-size: 50px;
  color: #faf9f9;
  text-align: center;
  margin: 0 0 30px;
}

.message p {
  font-size: 20px;
  color: #f3f3f3;
  text-align: center;
  margin: 0 0 30px;
}

.message2 {
  position: relative;
  font-size: 50px;
  color: #0c0c0c;
  text-align: center;
  margin: 0 0 30px;
  background: #fdfdfd;
}

.m1 {
  margin-left: 230px;
  font-size: 20px;
}

.m1 i {
  position: absolute;
  left: 200px;
}

.m2 {
  margin: 10px 200px 10px;
  position: relative;
  font-size: 20px;
  background: #000000;
  text-align: center;
}

.m2 a {
  color: #ffffff;
}

.message3 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  margin: 0;
}

.message3 li {
  padding: 0 70px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.message3 a {
  font-size: 20px;
  color: #ffffff;
}

.message4 {
  background: #555;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.message4 li {
  color: #ddd;
  text-align: center;
}

.first {
  background: #ffffff;
  font-size: 15px;
  margin-left: 250px;
}

.index2 {
  height: 400px;
  width: 500px;
  background: url(../stylesheets/index2.jpg) center center no-repeat;
  background-size: cover;
  margin-left: 180px;
  position: relative;
  float: left;
}

.m3 h5 {
  font-size: 15px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m3 p {
  font-size: 5px;
  color: #817f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m3 h6 {
  font-size: 15px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m3 h7 {
  font-size: 10px;
  color: #817f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m3 select {
  width: 300px;
  height: 36px;
}

.m3 h8 {
  font-size: 10px;
  color: #817f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m3 input {
  width: 100px;
  height: 36px;
}

.m3 input[type="button"] {
  width: 300px;
  height: 45px;
  color: #ddd;
  background: #000000;
  margin: 30px 0;
  border: 0;
  position: absolute;
}

.m3 hr {
  width: 30%;
  margin-left: 670px;
}

.message5 {
  clear: both;
}

.message5 p {
  font-size: 13px;
  background: white;
  color: #000000;
  margin-left: 250px;
  position: absolute;
}

.message5 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 660px;
  padding-top: 5px;
  position: relative;
}

.message5 h9 {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 700px;
  position: relative;
}

.m4 h10 {
  font-size: 15px;
  list-style: none;
  margin-left: 550px;
  position: absolute;
}

.m4 h11 {
  font-size: 15px;
  list-style: none;
  margin-left: 650px;
  position: absolute;
}

.m5 h11 {
  background: #ffffff;
  font-size: 10px;
  margin-left: 220px;
  list-style: none;
}

.m5 h12 {
  background: #ffffff;
  font-size: 10px;
  margin-left: 430px;
  list-style: none;
}

.m5 h13 {
  background: #ffffff;
  font-size: 10px;
  margin-left: 110px;
  list-style: none;
}

.m5 h14 {
  background: #ffffff;
  font-size: 10px;
  margin-left: 130px;
  list-style: none;
}

.index3 {
  height: 150px;
  width: 150px;
  background: url(../stylesheets/index2.jpg) center center no-repeat;
  background-size: cover;
  margin-left: 250px;
  position: relative;
  float: left;
}

.m6 {
  font-size: 14px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m6 h11 {
  background: #ffffff;
  font-size: 10px;
  list-style: none;
}

.m6 h12 {
  background: #ffffff;
  font-size: 15px;
  margin-left: 150px;
  list-style: none;
}

.m6 h13 {
  background: #ffffff;
  font-size: 10px;
  margin-left: 90px;
  list-style: none;
}

.m6 input {
  width: 80px;
  height: 24px;
}

.m6 h14 {
  background: #ffffff;
  font-size: 15px;
  margin-left: 70px;
  list-style: none;
}

.m6 p {
  font-size: 10px;
  color: #817f7f;
}

.m6 p1 {
  font-size: 14px;
  color: #817f7f;
  text-decoration: underline;
}

hr {
  clear: both;
  width: 68%;
}

.m7 h13 {
  font-size: 15px;
  margin-left: 250px;
  list-style: none;
}

.m7 input {
  width: 140px;
  height: 24px;
}

.m7 h14 {
  font-size: 15px;
  margin-left: 220px;
  list-style: none;
}

.m7 h15 {
  font-size: 15px;
  margin-left: 230px;
  list-style: none;
}

.m7 h16 {
  font-size: 15px;
  margin-left: 760px;
  list-style: none;
}

.m7 h17 {
  font-size: 15px;
  margin-left: 250px;
  list-style: none;
}

.m7 hr {
  margin-left: 730px;
  width: 27%;
}

.m8 h11 {
  font-size: 15px;
  margin-left: 730px;
  list-style: none;
}

.m8 h12 {
  font-size: 15px;
  margin-left: 230px;
  list-style: none;
}

.m8 input[type="button"] {
  width: 350px;
  height: 45px;
  color: #ddd;
  background: #000000;
  margin: 30px 0;
  border: 0;
  margin-left: 730px;
}
/*# sourceMappingURL=style.css.map */